In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/eFarma/Crop Recommendation/Crop_recommendation.csv')
df.sample(n=100)

        N    P    K  temperature   humidity        ph    rainfall        label
1317  109   21   55    24.900460  89.735242  6.770278   57.449421   watermelon
608     0   49   18    29.683617  87.935981  6.990095   41.824902     mungbean
1232   32  139  198    35.893075  82.668507  6.358187   66.539466       grapes
981     8   28   38    23.225940  94.429714  6.844402  105.691786  pomegranate
971    32   14   37    22.730313  88.485679  6.825256  104.684324  pomegranate
...   ...  ...  ...          ...        ...       ...         ...          ...
2027   76   44   45    25.487968  84.482359  6.740948  168.784889         jute
1765   40   64   47    32.500375  93.478888  6.893509   71.737595       papaya
94     60   51   36    22.696578  82.810889  6.028322  256.996476         rice
1541   21  137  196    23.611920  91.702938  5.812782  123.590082        apple
1881   19   30   30    29.565492  91.408963  5.826381  224.831573      coconut

[100 rows x 8 columns]

In [ ]:
crops = df['label'].unique()
print(f'Total crops: {len(crops)}')
print(', '.join(crops))

Total crops: 22
rice, maize, chickpea, kidneybeans, pigeonpeas, mothbeans, mungbean, blackgram, lentil, pomegranate, banana, mango, grapes, watermelon, muskmelon, apple, orange, papaya, coconut, cotton, jute, coffee

In [ ]:
df.corr()

                    N         P         K  ...  humidity        ph  rainfall
N            1.000000 -0.231460 -0.140512  ...  0.190688  0.096683  0.059020
P           -0.231460  1.000000  0.736232  ... -0.118734 -0.138019 -0.063839
K           -0.140512  0.736232  1.000000  ...  0.190859 -0.169503 -0.053461
temperature  0.026504 -0.127541 -0.160387  ...  0.205320 -0.017795 -0.030084
humidity     0.190688 -0.118734  0.190859  ...  1.000000 -0.008483  0.094423
ph           0.096683 -0.138019 -0.169503  ... -0.008483  1.000000 -0.109069
rainfall     0.059020 -0.063839 -0.053461  ...  0.094423 -0.109069  1.000000

[7 rows x 7 columns]

In [ ]:
features = df[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
target = df['label']
labels = df['label']

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target,test_size = 0.2,random_state=2)

### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

LogReg = LogisticRegression(random_state=2)
LogReg.fit(Xtrain,Ytrain)
predicted_values = LogReg.predict(Xtest)

accuracy = metrics.accuracy_score(Ytest, predicted_values)
print(f'Accuracy of logistic regression: {accuracy*100}')

Accuracy of logistic regression: 95.22727272727273

### KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(Xtrain, Ytrain)
predicted_values = knn.predict(Xtest)

accuracy = metrics.accuracy_score(Ytest, predicted_values)
print(f'Accuracy of KNN: {accuracy*100}')

Accuracy of KNN: 97.72727272727273

### Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

DecisionTree = DecisionTreeClassifier(criterion="entropy",random_state=2,max_depth=5)
DecisionTree.fit(Xtrain,Ytrain)
predicted_values = DecisionTree.predict(Xtest)

accuracy = metrics.accuracy_score(Ytest, predicted_values)
print(f'Accuracy of decision tree: {accuracy*100}')

Accuracy of decision tree: 90.0

### Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=20, random_state=0)
RF.fit(Xtrain,Ytrain)
predicted_values = RF.predict(Xtest)

accuracy = metrics.accuracy_score(Ytest, predicted_values)
print(f'Accuracy of random forest: {accuracy*100}')

Accuracy of random forest: 99.0909090909091

#### Cross validation

In [ ]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(RF, features, target,cv=5)
print(score)

[0.99772727 0.99545455 0.99772727 0.99318182 0.98863636]

#### Saving model

In [ ]:
import pickle

model = open('/content/gdrive/MyDrive/eFarma/Crop Recommendation/crop_recommendation.pkl', 'wb')
pickle.dump(RF, model)
model.close()

## Predict

In [ ]:
import pickle
model = pickle.load(open('/content/gdrive/MyDrive/eFarma/Crop Recommendation/crop_recommendation.pkl', 'rb'))

In [ ]:
model.predict([[16, 8, 9, 24.602975, 91.284087, 7.601190, 111.294811]])

array(['orange'], dtype=object)

In [ ]:
model.predict([[2, 129,	201, 22.782342, 94.368035, 5.682344, 122.144995]])

array(['apple'], dtype=object)